*{
    margin: 0;
}

html{
    background-color: sandybrown;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: lightgreen;
    top: 0;
    left: 0;
    z-index: 100;
}

.dropdown{
    width: 35px;
    height: 6px;
    background-color: black;
    margin: 6px;
    cursor: pointer;
}

.menu{
    position: fixed;
    width: 120px;
    height: 240px;
    top: -600px;
    left: 0;
    background-color: orangered;
    transition: 0.7s;
    z-index: 99;
}

.box{
    width: 300px;
    height: 250px;
    background-color: white;
    position: relative;
    top: 200px;

}

.splash{
    color: black;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 32%;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}